<section>
    <h2><?=$orders['orderNumber']?></h2>
    <table id="tableDonnee" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Prix total</th>
                <!--<th>N° Client</th>-->
            </tr>
        </thead>
        <tbody>
            <?php foreach($orders as $index=>$order):?>
                <tr>
                    <td><?=$order['productName']?></td>
                    <td><?=$order['priceEach']?></td>
                    <td><?=$order['quantityOrdered']?></td>
                    <td><?=$order['priceEach'] * $order['quantityOrdered']?></td>
                </tr>
            <?php endforeach;?>
        </tbody>
    </table>
</section>