<section>
    <table id="tableDonnee" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Num</th>
                <th>Date</th>
                <th>Date livraison</th>
                <th>Date d'envoi</th>
                <th>Status</th>
                <th>Commentaires</th>
                <!--<th>N° Client</th>-->
            </tr>
        </thead>
        <tbody>
            <?php foreach($orders as $index=>$order):?>
                <tr>
                    <td><a href="orderDetails.php?id=<?=$order['orderNumber']?>"><?=$order['orderNumber']?></a></td>
                    <td><?=$order['orderDate']?></td>
                    <td><?=$order['requiredDate']?></td>
                    <td><?=$order['shippedDate']?></td>
                    <td><?=$order['status']?></td>
                    <td><?=$order['comments']?></td>
                </tr>
            <?php endforeach;?>
        </tbody>
    </table>
</section>
